.header3  .navbar-inverse .navbar-nav > li > a:hover,.other-content ul li:before,.sub-form2 form .message3-btn .submit:hover,
.price span,.success-message a:hover,.text3-withbtn a,.form-client .flip-counter.default .digit span{
	color:#d2527f;
}
.text3-line,.open-com1,.clients-line,#nav-version7{
	background:#d2527f;
}
.subscribe3{background:#3498db}
.accordion-section .active span:after,.form-client.flip-counter.default .digit .line{
	border-bottom-color:#d2527f;
}
.callout-message a:hover,.banner3-content .btnn,.text3-withbtn a:hover,.our-story .btnn:hover{
	

}
#top-form .formm #senddd{
background:#27ae60;
	border-color:#27ae60;
}

.form-client .flip-counter.default .digit .line{
	border-bottom-color:#d2527f !important;
}
.text3-withbtn a{
	border-color:#d2527f;
}
.com1:hover  i,.com2:hover  i,.com3:hover  i,.plan2 .btnn:hover{
	background:#d2527f !important;	
}
.team-img-overlay{
	background:rgba(210,82,127,.5);	
}

.plan2 .btnn{
	border-color:#d2527f;
	color:#d2527f;
	}
#txt-widbtn7 a:hover{
background:#d2527f;
}
#txt-widbtn8 a:hover{
background:#d2527f;
}	
#text-with-btn3-version7 .open-com1:after{
    border-color: #d2527f transparent transparent #d2527f;
  }	
 #skill-version7 .skill .bar .value{
	background-color: #d2527f;
} 