.header2  .navbar-inverse .navbar-nav > li > a:hover,.other-content ul li:before,.sub-form2 form .message3-btn .submit:hover,
.price span,.success-message a:hover{
	color:#1791a4;
}
.sub-form2,.title-line1,.accordion-section .active i,.plan:hover,#text-with-version2 .open-com2{
	background:#1791a4;
}
.accordion-section .active span:after{
	border-bottom-color:#1791a4;
}
.callout-message a:hover{
	background:#1791a4;
	border-color:#1791a4;

}
#text-with-version2 .com1:hover i,#text-with-version2 .com2:hover i,#text-with-version2 .com3:hover i{
	background:#1791a4 !important;	
}
#singh-uppp{
	background:#1791a4;
	color:#fff;
}