.service:hover i,.callout-content .btnn,.sorting-content .btnn:hover, .form form .message3-btn .submit:hover{ background:#343780; border:none; }
.btnn:hover, .formm #senddd:hover { background: #BCD432; color: #000; }
.service:hover .iconss span:after{ border-bottom-color:#f48756; color: #fff; }
.text-with-btn ul li:before{ color:#f48756; }
.service:hover .iconss span:before{ border-top-color:#f48756; }
.port_wrapper ul li .active:after,.port_wrapper ul  li .active:before{ content: ""; background:#f48756!important; z-index: 999; }
.port_wrapper ul li .active{ color:#f48756!important; }	
.title-line1{ background:#343780; }
.subscribe3 { background:#343780;  }