/* general styles */
body{ margin:0; padding:0; font-family: 'Raleway', sans-serif; text-shadow:none; color: #1791a4; }
p { font-size: 16px; margin-bottom:0px; line-height:26px; font-weight:400; }
h1 { font-size: 40px; font-weight:900; margin:0; }
h2 { font-size: 30px; font-weight:normal; margin-bottom: 20px; }
.container{ padding-left:20px!important; padding-right:20px!important; }
a{ text-decoration:none !important; font-size:16px; line-height:24px; font-weight:700; cursor:pointer; transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; }

/*==========================================survey section==========================================*/
.btnn{ background: #1791a4; border-radius:4px; display:inline-block; padding:10px 29px; font-size:14px; text-transform:uppercase; color:#fff; }
.btnn:hover { background: #0B5D62; }
.full { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url("../images/SQ/background-SQ.png") no-repeat top left; background-size: cover;  display: table;}
.full .container { display: table-cell; vertical-align: middle; }
.full .container .max { max-width: 600px; margin: auto; }
.main { text-align: center;}
.main img { margin-bottom: 30px; max-width: 250px; }
.main p { margin:10px 0 30px; }
.question .back { color: #3d3d3d; background: #E0E0E0; margin-left: 10px; }
.question .back:hover { color: #fff; background: #3d3d3d; }
.question p, .question span { margin-bottom: 30px;}
.question span { font-size: 20px; display: block; margin:30px 0  5px; }
.question .select, .question .check { font-weight: normal; display: block; padding: 8px 15px; margin: 10px 0; color: #3d3d3d; border: solid 1px #3d3d3d; background: #f9f9f9; }
.question .small { margin-bottom: 30px; }
.question .small .select { display: inline-block; margin-right: 10px; }
.question .select:hover, .question .check:hover { background: #1791a4; color: #fff; }
.question .small .select.active, .question .check.active{ background: #0B5D62; color: #000; border-color: #0B5D62; }
.question input[type="text"], .question select { cursor: pointer; background: none; border: none; border-bottom: 1px solid #3d3d3d; display: block; width: 100%; margin-bottom: 30px; padding: 10px 5px; font-size: 20px; }
.question input[type="radio"]:checked+label{ color: #fff; } 
.question select { height: 50px; margin-bottom: 30px; }
.question .break { width: 30px; height: 30px; display: block;}
.question .max h3 b { line-height: 32px; color: #1791a4; font-size: 21px; }


/* =Preloader */
.full, #loader { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url("../images/SQ/background-sqid.jpg") no-repeat top right; background-size: cover;  display: table; background-position: 37%;}
.full .container, #loader .inside  { display: table-cell; vertical-align: middle; padding:50px 20px !important; }
#loader { text-align: center; background: #1791a4; z-index: 999999; }
#loader .board { position: absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:250px; }
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.banner
{ max-width: 250px; margin: auto; position: relative; padding: 10px 20px; animation: loader 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite; }
@keyframes loader{
  0% { letter-spacing: -1px; }
  100% { letter-spacing: 15px; }
}
.banner::before { content: ''; width: 100%; height: 100%; position: absolute; z-index: -1; top: 0; left: 0; transform: skewX(-15deg); background-color: #eee; }
.banner-left, .banner-right { width: 60px; height: 100%; position: absolute; z-index: -2; bottom: -30%; transform: skewX(-15deg); background-color: #ccc; }
.banner-left { animation: sub-banner-left 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite; }
@keyframes sub-banner-left{
  0% { right: 82%; }
  100% { right: 90%; }
}
.banner-right{ animation: sub-banner-right 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite; }
@keyframes sub-banner-right{
  0% { left: 82%; }
  100% { left: 90%; }
}
.banner-left::before, .banner-right::before{ content: ''; width: 0; height: 0; position: absolute; top: -1px; border: 22px solid; border-color: transparent; }
.banner-left::before { left: -1px; border-left-color: #343780; }
.banner-right::before { right: -1px; border-right-color: #343780; }


