/* general styles */
body{ margin:0; padding:0; }
p {
	font-size: 14px;
	margin-bottom:0px;
	font-family: 'Raleway', sans-serif;
	 line-height:26px;
	 color:#7a7a7a;
	 font-weight:400;
	 text-shadow:none;
}
h1 {
	font-size: 45px;
	font-family: 'Raleway', sans-serif;
	color:#272727;
	margin-top:0px;
	font-weight:900;
	text-shadow:none;
}
h2 {
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight:800;
	text-shadow:none;
}
h3 {
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
	line-height:24px;
	color:#272727;
	font-weight:700;
	text-shadow:none;
}
h4 {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color:#272727;
	text-shadow:none;
}
h5 {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	line-height:24px;
	color:#272727;
	font-weight:700;
	text-shadow:none;
}
img {
    max-width: 100%;
	border:none;
	margin:0;
	padding;0;
}
ul{
	padding:0px;
	list-style:none;
}
.float-right{float:right;}
a{
	text-decoration:none !important;
	font-size:16px;
	font-family: 'Raleway', sans-serif;
	 line-height:24px;
	 font-weight:700;
	 cursor:pointer;
	 transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
}
input:focus,textarea:focus{
	box-shadow:none;
	outline:none;
}
.container{
	padding-left:0px!important;
	padding-right:0px!important;
}
.color-white{color:#fff;}
.margin-left-10{ margin-left:-10px; }
.margin-top-0{ margin-top:0px !important; }

/* PADDING BOTTOM */
.padding-bottom-5{padding-bottom:5px;}
.padding-bottom-10{padding-bottom:10px;}
.padding-bottom-15{padding-bottom:15px;}
.padding-bottom-20{padding-bottom:20px;}
.padding-bottom-30{padding-bottom:30px;}
.padding-bottom-40{padding-bottom:40px;}
.padding-bottom-44{padding-bottom:44px;}
.padding-bottom-50{padding-bottom:50px;}
.padding-bottom-60{padding-bottom:60px;}
.padding-bottom-64{padding-bottom:64px;}
.padding-bottom-67{padding-bottom:67px;}
.padding-bottom-70{padding-bottom:70px;}
.padding-bottom-74{padding-bottom:74px;}
.padding-bottom-84{padding-bottom:84px;}
.padding-bottom-77{padding-bottom:77px;}
.padding-bottom-80{padding-bottom:80px;}
.padding-bottom-90{padding-bottom:90px;}
.padding-bottom-100{padding-bottom:100px;}
.padding-bottom-110{padding-bottom:110px;}
.padding-bottom-120{padding-bottom:120px;}
.padding-bottom-130{padding-bottom:130px;}
.padding-bottom-140{padding-bottom:140px;}
.padding-bottom-150{padding-bottom:150px;}
.padding-bottom-160{padding-bottom:160px;}
.padding-bottom-170{padding-bottom:170px;}
.padding-bottom-180{padding-bottom:180px;}
.padding-bottom-190{padding-bottom:190px;}
.padding-bottom-200{padding-bottom:200px;}
.padding-bottom-240{padding-bottom:240px;}
.padding-bottom-250{padding-bottom:250px;}
.padding-bottom-270{padding-bottom:270px;}

/* PADDING TOP */
.padding-top-5{padding-top:5px;}
.padding-top-10{padding-top:10px;}
.padding-top-15{padding-top:15px;}
.padding-top-20{padding-top:20px;}
.padding-top-30{padding-top:30px;}
.padding-top-35{padding-top:35px;}
.padding-top-40{padding-top:40px;}
.padding-top-50{padding-top:50px;}
.padding-top-60{padding-top:60px;}
.padding-top-64{padding-top:64px;}
.padding-top-67{padding-top:67px;}
.padding-top-70{padding-top:70px;}
.padding-top-74{padding-top:74px;}
.padding-top-84{padding-top:84px;}
.padding-top-77{padding-top:77px;}
.padding-top-80{padding-top:80px;}
.padding-top-90{padding-top:90px;}
.padding-top-100{padding-top:100px;}
.padding-top-110{padding-top:110px;}
.padding-top-115{padding-top:115px;}
.padding-top-120{padding-top:120px;}
.padding-top-130{padding-top:130px;}
.padding-top-140{padding-top:140px;}
.padding-top-150{padding-top:150px;}
.padding-top-160{padding-top:160px;}
.padding-top-170{padding-top:170px;}
.padding-top-180{padding-top:180px;}
.padding-top-190{padding-top:190px;}
.padding-top-200{padding-top:200px;}
.padding-top-220{padding-top:220px;}
.padding-top-240{padding-top:240px;}
.padding-top-250{padding-top:250px;}
.padding-top-270{padding-top:270px;}

/* MARGIN BOTTOM */
.margin-bottom-0{margin-top:0;}
.margin-bottom-5{margin-bottom:5px;}
.margin-bottom-10{margin-bottom:10px!important;}
.margin-bottom-15{margin-bottom:15px!important;}
.margin-bottom-20{margin-bottom:20px !important;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-40{margin-bottom:40px!important;}
.margin-bottom-50{margin-bottom:50px;}
.margin-bottom-60{margin-bottom:60px;}
.margin-bottom-70{margin-bottom:70px;}
.margin-bottom-100{margin-bottom:100px;}
.margin-bottom-150{margin-bottom:150px;}
.margin-bottom-120{margin-bottom:150px;}
.margin-bottom-200{margin-bottom:200px;}
.margin-bottom-250{margin-bottom:250px;}
.margin-bottom-270{margin-bottom:270px;}

/* MARGIN TOP */
.margin-top-0{margin-top:0;}
.margin-top-5{margin-top:5px;}
.margin-top-10{margin-top:10px;}
.margin-top-15{margin-top:15px;}
.margin-top-20{margin-top:20px;}
.margin-top-25{margin-top:25px;}
.margin-top-30{margin-top:30px;}
.margin-top-40{margin-top:40px;}
.margin-top-45{margin-top:45px;}
.margin-top-50{margin-top:50px;}
.margin-top-60{margin-top:60px;}
.margin-top-70{margin-top:70px;}
.margin-top-80{margin-top:80px;}
.margin-top-100{margin-top:100px;}
.margin-top-110{margin-top:110px;}
.margin-top-120{margin-top:100px;}
.margin-top-150{margin-top:150px;}
.margin-top-170{margin-top:170px;}
.margin-top-200{margin-top:200px;}
.margin-top-250{margin-top:250px;}
.margin-top-270{margin-top:270px;}

.padding-left-0{padding-left:0;}
.padding-left-10{padding-left:15px !important;}
.padding-right-0{padding-right:0;}
.padding-right-10{padding-right:15px !important;}
.padding-right-left-100{padding-left:100px;padding-right:100px;}
.padding-0{ padding:0; }
.margin-right-30{ margin-right:30px !important; }
.margin-left-30{ margin-left:-30px !important; }
.width-100 { width: 100%; }
.text-center{ text-align:center; }
.color-white{ color:#fff; }
.background-color-white{ background:#fff; }
.background-color-gray{ background:#f9f9f9 !important; }
.border-color-white{ border-color:#fff; }
.background-color-black{ background:rgb(72, 71, 72); }
.float-left{ float:left; }
.background-color-dark{ background-color:#3d3d3d !important; }
img,img:hover,img:focus{ border:none !important; }

/*==========================================top header==========================================*/
.top-social{
	background: #fff;
	z-index:999999;
    border-bottom: solid 1px #343780;
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar-inverse{ background:none !important; border:none !important; margin:0px; }
.navbar-inverse .navbar-nav > li > a{
	padding:0px;
	color:#343780;
	text-transform:uppercase;
	font-size:13px;
	margin:0 15px;
}
.navbar-inverse .navbar-nav li :last-child a{ margin-right:0px !important; }
.navbar-inverse .navbar-nav > li > a:hover{ border-bottom:1px solid #fff; padding-bottom:6px; }
.header{ margin-top:14px; float: right; }
.btnn{
	border-radius:4px;
    background: #343780;
	display:inline-block;
	padding:10px 29px;
	font-size:14px;
	text-transform:uppercase;
	color:#fff;
}
.buy-now a:hover{ background:#c1d63d; color: #000; }
.buy-now{ margin-left: 15px; text-align:right; float: right; }
.navbar5-mlogo{ display:none; }

/*==========================================banner section==========================================*/
.banner-version6{ background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/banner.jpg') center center; background-size:cover; margin-top: 85px; padding:100px 0; }
.banner-version6 .other-content h1{ color:#fff; line-height: normal; }
.banner-version6 .other-content ul li,.banner-version6 .other-content ul li:before{ color:#fff; }
.top-formm h4{
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 30px;
    margin-top: 25px;
    text-align: center;
}
.top-formm p{ color:#fff; font-size:12px; line-height:16px; }
.top-formm h5{ color:#fff; font-size:16px; font-weight:300; }
.top-formm .formm { background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0; }
.formm{
    border-radius:2px;
    padding:0px 30px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    padding-bottom:15px;
    float:left;
}
.formm h3{
	font-weight:900;
	text-transform:uppercase;
	text-align:center;
	margin:30px 0px;
}
.formm input{
    width:100%;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color:#7a7a7a;
    font-weight:400;
    background:#fff;
    border:1px solid #eee;
    padding:12px 22px;
    overflow:hidden;
    box-shadow:none;
    margin-bottom:20px;
    transition: all 0.3s ease 0s;
}
.formm input:focus,.formm textarea:focus{ border:1px solid #222; }
.formm ::-webkit-input-placeholder { color:#C1C1C1; } /* WebKit browsers */
.formm :-moz-placeholder { color: #C1C1C1; opacity:  1; } /* Mozilla Firefox 4 to 18 */
.formm  ::-moz-placeholder { color: #C1C1C1; opacity: 1; } /* Mozilla Firefox 19+ */
.formm :-ms-input-placeholder { color: #C1C1C1; } /* Internet Explorer 10+ */
.formm #senddd{
    font-weight:700;
    border-radius:4px;
    border:none;
    width:100%;
    font-size:14px;
    font-style:normal;
    color:#fff;
    background:#343780;
    text-transform:uppercase;
    height:63px;
    line-height: 63px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
}
.formm textarea{
    width:100%;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color:#7a7a7a;
    font-weight:400;
    background:#fff;
    border:1px solid #eee;
    padding:12px 22px;
    overflow:hidden;
    box-shadow:none;
    margin-bottom:20px;
    height:134px;
}
.formm .cancel { font-size: 26px; margin-right: 10px; margin-top: 15px; }

/*==========================================about section==========================================*/
.main-title p{ font-size: 16px; text-transform: uppercase; margin-bottom: 10px; margin-top: 10px;}
.main-title h3 { color: #343780; }
.main-title h2 { color: #343780; font-size:30px }

.title-line{ margin:0 auto; width:53px; }
.title-line1{ width:53px; height:1px; margin-bottom:3px; }
.accordion { padding-right: 30px; }
.service3-image h4{
	font-size:16px;
	color:#2c2c2c;
	font-weight:400;
    margin-top: 20px;
	line-height:20px;
}
.block-con{ display:block !important; }
.accordion-section-content{ display:none; }
.accordion-section-title{
	font-size:18px;
	font-weight:700;
	color:#34495e;
	position:relative;
	display:table;
	border:1px solid #efefef;
	width: 100%;
	margin-bottom:40px;
}
.accordion-section-title div, .accordion-section-title span { display: table-cell; vertical-align: middle; }
.accordion-section-title span { width: 70px; }
.accordion-section-title i{
	width:70px !important;
	text-align:center;
	margin-right:10px;
	border-right:1px solid #efefef;
	line-height:56px;
	background:#343780;
	font-size:25px;
	top:0px !important;
	 transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
    color: #fff;
    height: 100%;
}
.accordion-section-title:hover,.accordion-section-title:focus{ color:#34495e; }
.accordion-section-content{ padding-bottom:40px; }
.accordion-section-title span:after{
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;
    border-bottom: 25px solid #343780;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 0;
	 -moz-transform: rotate(-180deg);
   -webkit-transform: rotate(-180deg);
   -ms-transform: rotate(-180deg);
   -o-transform: rotate(-180deg);
   transform: rotate(-180deg);
    transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
}
.accordion-section .active i{ color:#000; background: #BCD432; }
.accordion-section .active span:before{border-top: 25px solid #BCD432;}
.accordion-section .active span:after{border-bottom: 25px solid #BCD432;}
.screen-image{
    width: 100%;
    height: 380px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	padding:0px 40px;
}

/*==========================================news section==========================================*/
.subscribe3 h5{
	font-size:35px;
	font-weight:400;
	color:#fff;
	margin-top:0px;
	margin-bottom:20px;
}
.subscribe3 p{ font-size:16px; margin-bottom:20px; color:#fff; }

/*==========================================gallery section==========================================*/
.gallery-section h4,.gallery-section .text3-line{ margin-bottom:25px; }
.gallery-section .btnn{ margin-top:20px; }
.gallery-section p { line-height: 20px;}
.text3-withbtn { margin-top: 100px; }
.text3-withbtn h4{ font-weight:700; font-size:22px; color:#2c2c2c; margin-bottom:20px; margin-top:0px; }
.text3-line{ width:49px; height:1px; margin-bottom:35px; }
.da-thumbs { list-style: none; position: relative; padding: 0; }
.da-thumbs li { float: left; background: #fff; position: relative; }
.da-thumbs li a, .da-thumbs li a img { display: block; position: relative; }
.da-thumbs li a { overflow: hidden;}
.da-thumbs li a div {
	position: absolute;
	background: #333;
	background-color: rgba(39,38,96,0.55);
	width: 100%;
	height: 100%;
}
.da-thumbs li a div { top: 0px; left: -100%; }
.da-thumbs li a:hover div{ left: 0px; }
.da-thumbs li a div{
	background-repeat:no-repeat;
	background-position:center center;
    text-align: center;
    color: #fff;
    font-size: 3em;
}
.da-thumbs li a div span { display: table; width: 100%; height: 100%;}
.da-thumbs li a div span i { display: table-cell; vertical-align: middle;}
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}
.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}
.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.fancybox-opened { z-index: 8030; }
.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }
.fancybox-image { max-width: 100%; max-height: 100%; }
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image:url(../images/fancybox_sprite.png) !important; }
.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}
.fancybox-lock { overflow: visible !important; width: auto; }
.fancybox-lock body { overflow: hidden !important; }
.fancybox-lock-test { overflow-y: hidden !important; }
.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 99999;
    background: url(../images/fancybox_overlay.png);
}
.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }
.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll; }

/*==========================================join section==========================================*/
.form3{ width:900px; margin:0 auto; }
.sub-form3{ padding:12px; border-radius:4px; background:#1D1C48; }
.sub-form3 .in-type{ float: left; margin-right: 1%; width: 27%; }
.sub-form3 input{
    width:100%;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color:#7a7a7a;
    font-weight:400;
    background:#fff;
    border:1px solid #e7e7e7;
    padding:12px 22px;
    overflow:hidden;
    box-shadow:none;
    font-style:italic;
}
.sub-form3 input:focus{ border-color:#7a7a7a; }
.sub-form3 ::-webkit-input-placeholder { color: #C1C1C1; } /* WebKit browsers */
.sub-form3 :-moz-placeholder { color: #C1C1C1; opacity: 1; } /* Mozilla Firefox 4 to 18 */
.sub-form3  ::-moz-placeholder { color: #C1C1C1; opacity: 1; } /* Mozilla Firefox 19+ */
.sub-form3 :-ms-input-placeholder { color: #C1C1C1; } /* Internet Explorer 10+ */
.sub-form3 form .message3-btn .submit{
    font-family: 'Raleway', sans-serif;
    text-transform:capitalize;
    font-weight:700;
    border-radius:4px;
    border:none;
    display:inline-block;
    padding-left:0px;
    padding-right:0px;
    width:16%;
    background:transparent;
    font-size:14px;
    font-style:normal;
    color:#000;
    background:#c1d63d;
}
.sub-form3 form .message3-btn .submit:hover{ background:#343780; color: #fff; }

/*==========================================testimoni section==========================================*/
#owl-testimonial-2{ padding-bottom:20px; }

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in { z-index: 0; }
.owl-carousel .owl-animated-out { z-index: 1; }
.owl-carousel .fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; }
@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  overflow:hidden;
}
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel.owl-loaded { display: block; }
.owl-carousel.owl-loading { opacity: 0; display: block; }
.owl-carousel.owl-hidden { opacity: 0; }
.owl-carousel .owl-refresh .owl-item { display: none; }
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl { direction: rtl; }
.owl-carousel.owl-rtl .owl-item { float: right; }
.no-js .owl-carousel { display: block; }
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

/*==========================================event section==========================================*/
.ev-section { max-width: 800px; margin: auto; }
.ev-section .box { display: table; margin-bottom: 20px; border: solid 2px #0D0E20; width: 100%; min-height: 100px; background: #272960;}
.ev-section .box .ev-date, .ev-section .box .ev-pic, .ev-section .box .ev-desc { display: table-cell; vertical-align: middle; }
.ev-section .box .ev-date { height: 100%; width: 80px; background:#1A1C40; text-align: center; }
.ev-section .box .ev-date { color: #fff; font-size: 20px; }
.ev-section .box .ev-date b { display: block; font-size: 30px; line-height: 25px; font-weight: 300; }
.ev-section .box .ev-date span { padding: 0; margin: 0; }
.ev-section .box .ev-pic { height: 100%; width: 100px; background-position: center; background-size: cover; background-repeat: no-repeat; }
.ev-section .box .ev-desc { padding: 10px; color: #fff; }
.ev-section .box .ev-desc p { margin: 0; font-size: 20px; font-weight: bold; }
.ev-section .box .ev-desc span { margin: 0 0 10px; display: block; }
.ev-section .box .ev-desc a { font-weight: normal; color: #BCD432;}
.ev-section .box .ev-desc a:hover { font-weight: normal; color: #8D9F26;}

.cal1 { margin: auto; font-size: 14px; border: solid 2px #0D0E20; }
.cal1 .clndr .clndr-controls { background: #1A1C40; border-bottom: solid 2px #0D0E20; color: #fff; line-height: 40px; display: inline-block; width: 100%; position: relative; }
.cal1 .clndr .clndr-controls .month { font-weight: bold; font-size: 18px;  float: left; width: 60%; text-align: center; }
.cal1 .clndr .clndr-controls .clndr-control-button { float: left; width: 20%; }
.cal1 .clndr .clndr-controls .clndr-control-button.rightalign { text-align: right; width: 20%; }
.cal1 .clndr .clndr-controls .clndr-control-button span { height: 100%; width: 40px; display: inline-block; text-align: center; }
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover { background: #BCD432; }
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive { opacity: 0.5; }
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover { background: none; cursor: default; }
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover { background: #BCD432; }
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive { opacity: 0.5; }
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover { background: none; cursor: default; }
.cal1 .clndr .clndr-table { table-layout: fixed; width: 100%; margin-top: -5px; border-right: solid 2px #0D0E20; }
.cal1 .clndr .clndr-table .header-days, .event-listing-title { height: 30px; font-weight: bold; background: #1D1C48; }
.cal1 .clndr .clndr-table .header-days .header-day { vertical-align: middle; text-align: center; color: #fff; }
.cal1 .clndr .clndr-table tr { height: 50px; }
.cal1 .clndr .clndr-table tr td { vertical-align: middle; color: #fff; }
.cal1 .clndr .clndr-table tr .day { width: 100%; height: inherit; text-align: center; }
.cal1 .clndr .clndr-table tr .day:hover { background: #272960; }
.cal1 .clndr .clndr-table tr .day.today, .cal1 .clndr .clndr-table tr .day.my-today { background: #BCD432; font-weight: bolder;}
.cal1 .clndr .clndr-table tr .day.today.event, .cal1 .clndr .clndr-table tr .day.my-today.event { background: #BCD432; cursor: pointer;}
.cal1 .clndr .clndr-table tr .day.event, .cal1 .clndr .clndr-table tr .day.my-event { cursor: pointer; }
.cal1 .clndr .clndr-table tr .day.event:hover, .cal1 .clndr .clndr-table tr .day.my-event:hover { background: #8D9F26; }
.cal1 .clndr .clndr-table tr .day.inactive,.cal1 .clndr .clndr-table tr .day.my-inactive { background: #ddd; }
.cal1 .clndr .clndr-table tr .day .day-contents { box-sizing: border-box; padding: 3px 2px 5px; font-size: 12px; }
.cal1 .clndr .clndr-table tr .day.event span { border-bottom: solid 2px #0D0E20; }
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month,
.cal1 .clndr .clndr-table tr .my-empty,
.cal1 .clndr .clndr-table tr .my-adjacent-month { color:#272960; width: 100%; height: inherit; background: #1A1C40; }
.cal1 .clndr .clndr-table tr .empty:hover, .cal1 .clndr .clndr-table tr .adjacent-month:hover, .cal1 .clndr .clndr-table tr .my-empty:hover, .cal1 .clndr .clndr-table tr .my-adjacent-month:hover { background: #1A1C40; }
.cal1 .clndr .clndr-table tr .empty:last-child, .cal1 .clndr .clndr-table tr .adjacent-month:last-child, .cal1 .clndr .clndr-table tr .my-empty:last-child, .cal1 .clndr .clndr-table tr .my-adjacent-month:last-child { border-right: none; }
.cal1 .clndr .clndr-table tr:last-child .day, .cal1 .clndr .clndr-table tr:last-child .my-day { border-bottom: none; }
.cal1 .clndr .clndr-table tr:last-child .empty, .cal1 .clndr .clndr-table tr:last-child .my-empty { border-bottom: none; }
.cal1 .clndr .clndr-today-button { border-top: solid 2px #0D0E20; width: 100%; line-height: 30px; text-align: center; cursor: pointer; background: #1A1C40; color: #fff; }
.cal1 .clndr .clndr-today-button:hover { background-color: #BCD432; }

.cal1 .clndr .clndr-table { float: left; width: 40%; }
.cal1 .event-listing { float: right; height: inherit; width: 60%; margin-top: -5px; }
.event-listing-title { padding:0 10px; line-height: 30px; color: #fff; text-align: center; }
.event-item-list { height: 250px; overflow: scroll; }
.event-item { padding: 10px; color: #A9A9BF; border-bottom: solid 1px #0D0E20; position: relative; padding-left:165px; }
.event-item:last-child { border: none; }
.event-item a { font-size: 14px; font-weight: normal; color:#BCD432; }
.event-item a:hover { color:#8D9F26; }
.event-item-name { font-weight: bold; font-size: 18px; color: #fff;}
.event-item-desc { font-size: 12px; }
.event-item-pic { position: absolute; width:150px; height: 100%; top:0; left:0; text-align: center; background-position: center; background-size: cover; background-repeat: no-repeat; }

.cal-bottom { color: #fff; font-size: 18px; margin-top: 20px; text-align: center; }
.subscribe3 .container .cal-bottom .btnn { margin-top: 0; }

/*==========================================contact section==========================================*/
.cd-tabs { position: relative; width: 100%; margin: 0 auto; text-align: center; }
.cd-tabs:after { content: ""; display: table; clear: both; }
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after { display: none; }
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav { width: 100%; display: inline-block; position: relative; float: none; }
.cd-tabs-navigation { width: 100%; margin: 0; }
.cd-tabs-navigation .flag { height: 40px; width: 40px; margin:10px; background-size: cover; display: inline-block;background-repeat: no-repeat; background-position: center; -webkit-filter: grayscale(1); filter: grayscale(1); -webkit-border-radius: 99px;-moz-border-radius: 99px;border-radius: 99px;}
.cd-tabs-navigation span { padding: 0 0 0 10px; line-height: 60px; }
.cd-tabs-navigation li { float: left; width: 16.66667%; }
.cd-tabs-navigation a { height: 60px; line-height: 60px; width: 100%;  font-size: 12px; display: inline-block; background-color:#f8f7ee; color: #c3c2b9; }
.cd-tabs-navigation a:hover { background-color:#343780; color: #343780; }
.cd-tabs-navigation a:hover span { color: #fff; }
.cd-tabs-navigation a::before { top: 50%; margin-top: -10px; margin-left: 0; left: 38px; }
.cd-tabs-navigation a.selected { color: #343780; background-color: #ffffff !important;  box-shadow: inset 0 2px 0 #343780;  }
.cd-tabs-navigation a:hover .flag, .cd-tabs-navigation a.selected .flag { -webkit-filter: grayscale(0); filter: grayscale(0); }
.cd-tabs-content { margin-top: -10px; text-align: left; background: #ffffff; min-height: 0; }
.cd-tabs-content li { color: #343780; display: none; }
.cd-tabs-content li.selected { display: block; font-size: 14px; -webkit-animation: cd-fade-in 0.5s; -moz-animation: cd-fade-in 0.5s; animation: cd-fade-in 0.5s; }
.cd-tabs-content li .cover { margin-bottom: 10px; width: 100%; height: 200px; background-position: center; background-repeat: no-repeat; background-size: cover; }
.cd-tabs-content li .office { width: 48%; float: left; margin:0 1%; }
.cd-tabs-content li p { color: #343780; font-size:20px; font-weight: bold; margin:20px 0 5px; }
.cd-tabs-content li span { margin-bottom: 10px; display: block; }

@media only screen and (max-width: 940px) {
  .cd-tabs::after { display: none; }
    .cd-tabs nav { width: 100%; }
  .cd-tabs-navigation a { line-height: normal; width: 100%; height: auto; padding: 0; }
    .cd-tabs-navigation .float-left { float: none; }
  .cd-tabs-navigation span { line-height: normal; padding: 0 10px 10px; display: block; width: 100%; }
}
@-webkit-keyframes cd-fade-in {  0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes cd-fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes cd-fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }

/*==========================================footer section==========================================*/
.ending { position: relative; background: #353841 !important; }
.background { content: ""; -webkit-filter: grayscale(1); filter: grayscale(1); opacity: 0.1; top: 0; left: 0; bottom: 0; right: 0; position: absolute; z-index:0; background-size: cover; }
.footer{ position: absolute; left: 0; width: 100%; bottom: 0; background-color:rgba(0, 0, 0, 0.2); }
.copy p{ color:#cccccc; margin:0px; }
.fot-social i{
	width:30px;
	height:30px;
	line-height:30px;
	color:#fff;
	border:1px solid #9f9f9f;
	font-size:16px;
	margin-right:5px;
	border-radius:4px;
	text-align:center;
}
.fot-social .fa-facebook:hover,.fot-social .fa-twitter:hover{ background:#475897; border-color:#475897; }
.fot-social .fa-google:hover{ background:#f63f29; border-color:#f63f29; }
.fot-social .fa-linkedin:hover{ background:#435e94; border-color:#435e94; }
.fot-social .fa-instagram:hover{ background:#517fa4; border-color:#517fa4; }
.fot-social .fa-youtube-play:hover{ background:#e41c24; border-color:#e41c24; }

/*==========================================survey section==========================================*/
.full, #loader { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url("../images/background.jpeg") no-repeat top right; background-size: cover;  display: table;}
.full .container, #loader .inside  { display: table-cell; vertical-align: middle; padding:50px 20px !important; }
.full .container .max { max-width: 600px; margin: auto; }
.full .container .max p { font-size: 16px; }
.main { text-align: center;}
.main img { margin-bottom: 30px; max-width: 250px; }
.main h1 { color: #343780; font-size: 40px; margin: 0; }
.main p { color: #343780; margin:10px 0 30px; }
.question .back { color: #3d3d3d; background: #E0E0E0; margin-left: 10px; }
.question .back:hover { color: #fff; background: #3d3d3d; }
.question h2 { font-weight: normal; color: #343780; font-size: 30px; margin-bottom: 20px;}
.question p, .question span { margin-bottom: 30px; color: #343780;}
.question span { font-size: 20px; display: block; margin:30px 0  5px; }
.question .select, .question .check { font-weight: normal; display: block; padding: 8px 15px; margin: 10px 0; color: #3d3d3d; border: solid 1px #3d3d3d; background: #f9f9f9; }
.question .small { margin-bottom: 30px; }
.question .small .select { display: inline-block; margin-right: 10px; }
.question .yn .select { font-size: 25px; padding: 15px 30px;  }
.question .select:hover, .question .check:hover { background: #343780; color: #fff; }
.question .small .select.active, .question .check.active{ background: #BCD432; color: #000; border-color: #BCD432; }
.question input[type="text"], .question select { cursor: pointer; background: none; border: none; border-bottom: 1px solid #3d3d3d; display: block; width: 100%; margin-bottom: 30px; padding: 10px 5px; font-size: 20px; }
.question input[type="radio"]:checked+label{ color: #fff; } 
.question select { height: 50px; margin-bottom: 30px; }
.question .break { width: 30px; height: 30px; display: block;}

/* =Preloader */
#loader { text-align: center; background: #343780; z-index: 999999; }
#loader .board { position: absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:250px; }
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.banner
{ max-width: 250px; margin: auto; position: relative; padding: 10px 20px; animation: loader 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite; }
@keyframes loader{
  0% { letter-spacing: -1px; }
  100% { letter-spacing: 15px; }
}
.banner::before { content: ''; width: 100%; height: 100%; position: absolute; z-index: -1; top: 0; left: 0; transform: skewX(-15deg); background-color: #eee; }
.banner-left, .banner-right { width: 60px; height: 100%; position: absolute; z-index: -2; bottom: -30%; transform: skewX(-15deg); background-color: #ccc; }
.banner-left { animation: sub-banner-left 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite; }
@keyframes sub-banner-left{
  0% { right: 82%; }
  100% { right: 90%; }
}
.banner-right{ animation: sub-banner-right 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite; }
@keyframes sub-banner-right{
  0% { left: 82%; }
  100% { left: 90%; }
}
.banner-left::before, .banner-right::before{ content: ''; width: 0; height: 0; position: absolute; top: -1px; border: 22px solid; border-color: transparent; }
.banner-left::before { left: -1px; border-left-color: #343780; }
.banner-right::before { right: -1px; border-right-color: #343780; }

/*Tambahan by Dewi :D*/
.navbar5-logo { float: left; margin-top: -8px;}
.navbar5-logo a img { max-height: 60px; }
.navbar-inverse .navbar-nav > li > a{ color: #999; }
.navbar-inverse .navbar-nav > li > a:hover{ color: #343780; border-bottom:solid 5px #343780; }
.navbar-inverse .navbar-nav > li > a:active{ color: #000;}
.services-section .row .col-xs-12 { padding: 0; }
.subscribe3 .text-center h3 { color: #fff; }
.subscribe3 .text-center p { color: #9D9CB7; }
.subscribe3 .text-center .title-line1 { background:#fff; }
.news .pic { width: 100%; height: 200px; background-size: cover; background-position: center center; }
.news p { margin: 20px 0 5px 0; line-height: normal; }
.news span { display: block; color: #9D9CB7; margin-bottom: 20px;}
.news a { font-weight: normal; color: #fff; text-decoration: underline !important; }
.news a:hover { text-decoration: none !important; }
.subscribe3 .btnn { margin-top:20px; background: #fff; color: #343780; }
.owl-carousel .owl-item .review { text-align: center; }
.owl-carousel .owl-item .review .pic { width: 70px; height: 70px; background-position: center; background-size: contain; margin: auto; -webkit-border-radius: 70px;-moz-border-radius: 70px;border-radius: 70px; }
.owl-carousel .owl-item .review p { margin: 30px 0 10px 0; font-size: 16px; }
.owl-carousel .owl-item .review .fa { display: block; font-size: 30px; margin: 20px 0; color:#343780;}
.owl-carousel .owl-item .review span { display: block; font-size: 150%; }
.owl-carousel .owl-item .review i { font-size: 90%; color: #999; }
.banner-version6 .other-content p { color: #fff; line-height: normal; font-size: 20px; padding-top: 20px;}
.other-content { margin-top: 80px; }

input, .da-thumbs li a div, .formm #senddd, .cal1 .clndr .clndr-controls .clndr-control-button span, .cal1 .clndr .clndr-today-button, .cal1 .clndr .clndr-table tr .day { -webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out; }


@media (max-width: 1280px){
    .language_changer{ display:none; }
}

.language_changer_position{
    position:absolute;top:25px;right:38px;
}


@media (max-width: 1440px){
    .language_changer_position {
        position:absolute;
        top:25px;right:10px;
    }
}


@media (max-width: 1366px){
    .language_changer_position {
        position:absolute;
        top:25px;right:8px;
        width:5%;
    }
}

@media (max-width: 1000px) {
    .banner-version6 .col-sm-9 { width: 100%; }
    .text3-withbtn { margin: 0; }
}

@media (min-width: 895px){
    .language_tablet_hide{ display:none!important;}
}

@media (max-width: 895px) {
    .header { float: none; }
    .buy-now .btnn { margin-top: 4px; padding: 5px 10px; }
    .buy-now{ padding:0px; text-align:left; padding-bottom:20px; }
    .top-social .navbar5-logo{display:none !important;}
    .top-social .navbar5-mlogo{ display: block; left: 0; position: absolute; right: 0; text-align: center; margin-top: 5px; }
    .top-social .navbar5-mlogo img { max-height: 40px; }
    .navbar5-logo{text-align:center;}
    .navbar5-logo img{width:150px;}
    .top-social .buy-now{ position:absolute;right:15px; z-index:99999; width:151px; margin-bottom:0px; padding-bottom:0px; text-align:right; }
    .top-social{padding-top:10px;}
    .banner-version6{ margin-top: 70px; padding:50px 0; }
    .header { margin-top: 9px; }
    .navbar-inverse .navbar-nav > li > a:hover{ border:none; padding:0px; text-align:left; }
    .navbar-inverse .navbar-nav > li > a{ text-align:left; font-size: 20px; line-height: 70px; }
    .navbar-collapse{ border:none; box-shadow:none; }
    .navbar-nav{ margin:0px; }
    .navbar-inverse .navbar-toggle{ background:#222; float:left; margin: 0; }
    #navbar-collapse-1{ margin-bottom:20px; }
    .text3-withbtn { text-align: center; }

}

@media (max-width: 767px) {
    .news { margin-top: 30px; }
    .padding-bottom-80 { padding-bottom: 50px; }
    .other-content { margin: 0 0 30px 0; }
    .banner-version6 .other-content p { font-size: 16px; padding-top: 10px;}
    .services-section .row, .client-review .container .row { margin: 0; }
    .buy-now .btnn { margin-top: 9px; }
    .text3-withbtn h4, .gallery-section .text3-line { margin-bottom: 10px; }
    .cal1 .clndr .clndr-table, .cal1 .event-listing { float: none; width: 100%; }
    .cal1 .event-listing { border-top: solid 2px #0D0E20; }
    .event-item-list { height:auto; overflow: none; }
    .accordion { padding-right: 0; }
    .cd-tabs-content li .office { width: 100%; float: none; margin: 0; }
}
@media (max-width: 500px) {
    .accordion-section-title { font-size:14px; }
    .ev-section .box .ev-desc p { font-size:14px; line-height: 14px; margin-bottom: 10px; }
    .cd-tabs-navigation span { display: none; }
    .cd-tabs-navigation .flag { height: 40px; width: 40px; margin:10px 0; display: inline-block; }
}