<div id="load">
    <div id="first-project">
        <div class="padding-top-40 tab-pane active" id="orange">

            <div class="tabber-content">
                <div class="slout-controls"><a class="close close-it"><i class="fa fa-times"></i></a></div>
                <div class="col-md-6 col-sm-6 col-xs-12 tabber-info padding-top-40">	
                    <h3>Pellentesque Semper quis Neque
                        Dictum hendrerit met it Rysan.</h3>	
                    <p>Proin in magna a ipsum viverra scel erisque eu nec turp, Nunc vestibulum frin gilla accumsan praesent arcu erisque eu nec turp.Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p>
                    <a href="#5" class="btnn">get started now!</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 padding-right-0">	
                    <img alt="" src="images/version4/service/tabber.png">
                </div>
                <div class="clearfix"></div>
                <div class="pin"><img alt="" src="images/version4/service/pin.png" /></div>
            </div>
        </div>
    </div>
    <div id="2nd-project">
        <div class="padding-top-40 tab-pane active" id="yello">

            <div class="tabber-content">
                <div class="slout-controls"><a class="close close-it"><i class="fa fa-times"></i></a></div>
                <div class="col-md-6 col-sm-6 col-xs-12 tabber-info padding-top-40">	
                    <h3>Pellentesque Semper quis Neque
                        Dictum hendrerit met it Rysan.</h3>	
                    <p>Proin in magna a ipsum viverra scel erisque eu nec turp, Nunc vestibulum frin gilla accumsan praesent arcu erisque eu nec turp.Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p>
                    <a href="#5" class="btnn">get started now!</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 padding-right-0">	
                    <img alt="" src="images/version4/service/tabber.png">
                </div>
                <div class="clearfix"></div>
                <div class="pin"><img alt="" src="images/version4/service/pin.png" /></div>
            </div>
        </div>
    </div>
    <div id="3rd-project">
        <div class="padding-top-40 tab-pane active" id="green">

            <div class="tabber-content">
                <div class="slout-controls"><a class="close close-it"><i class="fa fa-times"></i></a></div>
                <div class="col-md-6 col-sm-6 col-xs-12 tabber-info padding-top-40">	
                    <h3>Pellentesque Semper quis Neque
                        Dictum hendrerit met it Rysan.</h3>	
                    <p>Proin in magna a ipsum viverra scel erisque eu nec turp, Nunc vestibulum frin gilla accumsan praesent arcu erisque eu nec turp.Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p>
                    <a href="#5" class="btnn">get started now!</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 padding-right-0">	
                    <img alt="" src="images/version4/service/tabber.png">
                </div>
                <div class="clearfix"></div>
                <div class="pin"><img alt="" src="images/version4/service/pin.png" /></div>
            </div>
        </div>
    </div>


</div>