/*!
 * Start Bootstrap - Grayscale v3.3.7+1 (http://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 31px;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 31px;
  }
}
a {
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}
.light {
  font-weight: 400;
}
.form-control {
  border:1px solid #dbdbdb !important;
  background-color: transparent !important;
  color: #fff;
  margin-top: 8px;
}
#sel1 > option {
  color:#333 !important;
}
.navbar {
  min-height: 75px !important;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: transparent;
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
.divider-border {
  margin: 15px auto 15px auto;
  height: 1px;
  width: 400px;
  background-color: rgba(255,255,255,0.3);
  float:left;
}
.btn-sq-cta:hover {
   opacity:.8;
}
footer {
  background-color:#78c878 !important;
}
footer p {
  font-size: 14px;
  color:#fff;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .form-control {
    margin-top: 8px;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #78c878 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  ul.nav.navbar-nav {
    margin-top: 13px !important;
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/studyquery.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
.scroll-down-icon {
  width: 26px;
  height: 100%;
  margin-left: -13px;
  position: absolute;
  top: 0;
  left: 50%;
  border: 2px solid rgba(255,255,255, .35);
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -webkit-animation: scroll-down-anim 1s infinite;
  -moz-animation: scroll-down-anim 1s infinite;
  -o-animation: scroll-down-anim 1s infinite;
  animation: scroll-down-anim 1s infinite;
}
@-webkit-keyframes scroll-down-anim {
  0%{ top: -7px; }
  50%{ top: 3px; }
  100%{ top: -7px; }
}
@-moz-keyframes scroll-down-anim {
  0%{ top: -7px; }
  50%{ top: 3px; }
  100%{ top: -7px; }
}
@-o-keyframes scroll-down-anim {
  0%{ top: -7px; }
  50%{ top: 3px; }
  100%{ top: -7px; }
}
@keyframes scroll-down-anim {
  0%{ top: -7px; }
  50%{ top: 3px; }
  100%{ top: -7px; }
}

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 65px !important;
    text-transform: capitalize;
    text-align:left;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
    text-align:left;
    line-height:42px;
    color:#eaeaea;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #e5e5e5;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/cta_banner.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 100px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}



/*
 * Works filter
 */

.works-filter{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 0 70px 0;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #555;
  cursor: default;
}
.works-filter a{
  display: inline-block;
  margin: 0 5px;
  padding: 6px 20px;
  border: 1px solid rgba(0,0,0, .05);
  color: #222;
  text-decoration: none;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  
  -webkit-transition: all 0.37s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  
  cursor: pointer;
}
.works-filter a:first-child{
  margin-left: 0;
}
.works-filter a:last-child{
  margin-right: 0;
}
.works-filter a:hover{
  color: #888;
  border: 1px solid rgba(0,0,0, .2);
  text-decoration: none;
}
.works-filter a.active{
  border-color: #222;
  cursor: default;
}
.works-filter a.active:hover{
  color: #000;
}


/*
 * Works grid 
 */

.works-grid{
  list-style: none;
  padding: 0;
    margin:0 -15px 20px -15px;
}
.work-item{
  width: 16.666666666%;
  float: left;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.works-grid .mix{
  /*display: none;
  opacity: 0;*/
}
.work-item > a{
  display: block; 
  padding: 0 15px 10px;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
.work-item a,
.work-item a:hover{
  color: #000;
  border: none;
}
.work-img{
  position: relative;
  overflow: hidden;
}
.work-img img{
  width: 100%;
  display: block;
  overflow: hidden;
}
.work-intro{
  width: 100%;
  height: 94px;
  padding: 22px 20px;
  -webkit-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
}
.work-title{
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}
.work-descr{  
  font-size: 13px;
  text-align: center;
  color: #bbb;
  line-height: 1.2;
}
.work-grid-2 .work-title{
  font-size: 14px;
  font-weight: 700;
}
.works-grid.hide-titles .work-item > a{
  overflow: hidden; 
  padding: 0;
}
.works-grid.hide-titles .work-item .work-intro{
  opacity: 0;
  bottom: -94px;
}
.works-grid.hide-titles .work-item:hover .work-intro{
  opacity: 1;
}

.work-grid-3 .work-title{
  font-size: 14px;
  font-weight: 700;
}
.work-grid-3 .work-descr{
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
}


/* Work item hover state */

.work-intro{
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.work-item:hover .work-intro{
  /*bottom: auto;*/
  /*top: 50%;*/
  color: #fff;
  
  -webkit-transform: translateY(-99px);
    -moz-transform: translateY(-99px);
    transform: translateY(-99px); 
  
  z-index: 3; 
}
.work-item:hover .work-title{
  color: #ccc;
}
.work-item:hover .work-descr{
  color: #999;
}
.work-item .work-img:after{
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(250,250,250, 0);
  
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  
}
.work-item:hover .work-img:after{ 
  background: rgba(20,20,20, .85);
}

.works-grid.hover-color .work-item:hover .work-intro,
.works-grid.hover-color .work-item:hover .work-title,
.works-grid.hover-color .work-item:hover .work-descr{
  color: #fff;
}
.works-grid.hover-color .work-item:hover .work-img:after{ 
  background: #e41919;
  opacity: .73;
}
.works-grid.hover-white .work-item:hover .work-intro,
.works-grid.hover-white .work-item:hover .work-title,
.works-grid.hover-white .work-item:hover .work-descr{
  color: #000;
}
.works-grid.hover-white .work-item:hover .work-img:after{ 
  background: rgba(250,250,250, .9);
}

.work-item .work-img > img{
  -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.work-item:hover .work-img > img{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/*
 * Works full view
 */

.work-full{
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10000;
}
.work-full-load{
  padding-top: 60px;
}
.work-loader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10001;
}
.work-loader:after{
  display: block;
  content: " ";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  background: url(../images/loader.gif) no-repeat;
}

/* Work navigation */

.work-navigation{
  width: 100%;
  height: 51px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff; 
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 0px rgba(0, 0, 0, .05);
  
  z-index: 10002;
}
.work-navigation .fa{
  font-size: 12px;
  vertical-align: middle;
}
.work-navigation .fa-times{
  font-size: 16px;
  margin-top: -2px;
}
.work-navigation a{
  display: block;
  float: left;
  width: 33.33333%;
  overflow: hidden;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.work-navigation a,
.work-navigation a:visited{ 
  color: #151515; 
}
.work-navigation a:hover{ 
  color: #151515; 
}
.work-navigation a span{
  display: inline-block;
  height: 50px;
  line-height: 49px;
  padding: 0 4%;
  background: #fff;
  
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.work-navigation span:hover{
  background: #f7f7f7;
}
.work-back-link{
  margin: 20px 0 0;
  display: block;
  background: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #151515; 
}
.work-prev{
  text-align: left;
}
.work-all{
  text-align: center;
}
.work-next{
  text-align: right;
}
.work-container{
  padding: 50px 0;
}
.work-full-title{
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
.work-full-media{
  margin-top: 30px;
    width: 100%;
}

.work-full-media div{
  width: 100%;
  height: 365px;
    background: no-repeat center center;
    background-size: cover;
}
.work-full-text{
  text-align: left;
  font-size: 13px;
  color: #777;
}
.work-full-text h6{ 
  margin-top: 5px;
}
.work-detail{
  margin-bottom: 30px;
}
.work-detail p:last-child{
  margin-bottom: 0;
}
.work-full-detail{
  font-size: 11px;
  color: #777;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.work-full-detail p{ 
  margin: 0 0 4px 0;
}
.work-full-action{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eaeaea;
  text-align: center;
}



/* ==============================
   Banner section
   ============================== */

.banner-heading{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255,255,255, .8);
}

.banner-text{
  text-align: left;
}

.banner-decription{
  margin-top: 5px;
  font-size: 12px;  
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255,255,255, .2);
}
.image-color-bg .banner-decription{
  color: #f0c3bf;
}
.banner-button{
  text-align: right;
}


/* ==============================
   Testimonial
   ============================== */

.testimonial{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    text-align: center;
    font-family: Raleway, arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0;
  color: #444;
}
.testimonial-author{
    margin-top: 20px;
    color: #999;
    font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
    text-align: center;
}

/*
 * Logotypes
 */

.logo-item{
    height: 100px;
    margin: 0 30px;
    text-align: center;
    opacity: .65;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    
    /*border: 1px solid green;*/
}
.logo-item:hover{
    opacity: 1;
}
.logo-item img{
    position: relative;
    top: 50%;
    
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



/* ==============================
   Last posts (blog section)
   ============================== */

.last-posts-grid{
    
}
.lp-item{
    width: 25%;
    float: left;
    position: relative;
    text-decoration: none;
    text-align: center;
}
.lp-item:hover{
    text-decoration: none;
}
.lp-item:nth-child(4n + 5){ 
    clear: left; 
}
.lp-image{
    position: relative;
    overflow: hidden;
    height: 250px;
    background: no-repeat center center;
    background-size: cover;
}
.lp-more{
    width: 75px;
    height: 20px;
    line-height: 20px;
    padding: 0 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e41919;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    opacity: .9;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
    -webkit-transition: all 300ms cubic-bezier(0.130, 0.895, 0.100, 1);
    -webkit-transition: all 300ms cubic-bezier(0.130, 0.895, 0.100, 1.275); 
    -moz-transition: all 300ms cubic-bezier(0.130, 0.895, 0.100, 1.275); 
    -o-transition: all 300ms cubic-bezier(0.130, 0.895, 0.100, 1.275); 
    transition: all 300ms cubic-bezier(0.130, 0.895, 0.100, 1.275); 
    
    z-index: 2;
}
.lp-date{
    width: 75px;
    padding: 15px 5px;
    position: absolute;
    bottom: 20px;
    left: 0;
    background: rgba(255,255,255, .9);
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.1;
    color: #222;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
    -webkit-transition: all 300ms cubic-bezier(0.130, 0.895, 0.100, 1);
    -webkit-transition: all 300ms cubic-bezier(0.130, 0.895, 0.100, 1.275); 
    -moz-transition: all 300ms cubic-bezier(0.130, 0.895, 0.100, 1.275); 
    -o-transition: all 300ms cubic-bezier(0.130, 0.895, 0.100, 1.275); 
    transition: all 300ms cubic-bezier(0.130, 0.895, 0.100, 1.275); 
    
    z-index: 2;
}
.lp-date span { display: block; margin-bottom: 3px; }
.lp-date-num{
    font-family: Montserrat, arial, sans-serif;
    font-size: 30px;
}
.lp-descr{
    position: relative;
    padding: 23px 0;
    color: #000;
    text-decoration: none;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
    -webkit-transition: all 0.37s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    
    z-index: 2;
}
.lp-title{
    width: 90%;
    margin: 0 auto 4px auto;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.lp-author{
    font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
    color: #bbb;
}

/* Hover state */

.lp-item:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    background:  transparent;  
    z-index: 1;
    
    -webkit-transition: all 0.37s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.lp-item:hover:after,
.blog-media:hover:after{
    background: rgba(255,255,255, .35);
}
.lp-item:hover .lp-date,
.blog-media:hover .lp-date{
    bottom: 75px;   
}
.lp-item:hover .lp-more,
.blog-media:hover .lp-more{
    height: 75px;
    line-height: 75px;
    
}
.lp-item:hover .lp-descr{
    color: #999;
}
.blog-media img{
    display: block;
    width: 100%;
}

/* Blog Link */

.blog-link,
.blog-link:hover{
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); 
    background: #222;
    color: #707070;
    height: 250px;
}
.blog-link:after{
    display: none;
}
.blog-link img { opacity:0.1; }
.bl-text{
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bl-text-sub{
    display: table-cell;
    padding-top: 5px;
    vertical-align: middle;
    text-align: center;
}
.bl-line-1{
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 9px;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.bl-line-2{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #eaeaea;
    
    -webkit-transition: all 0.37s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.37s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 037s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.37s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.37s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    
}
.bl-line-2 .serif{
    font-weight: 400;
    text-transform: none;    
    letter-spacing: 0;
}
.bl-icon{
    width: 128px;
    height: 128px;
    line-height: 128px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -65px 0 0 -64px;
    font-size: 128px;
    color: rgba(255,255,255, .2);
    
    -webkit-transition: all 0.47s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.47s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.47s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.47s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.47s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

/* Hover state */

.blog-link:hover .bl-icon{
    margin-top: -70px;
    color: rgba(255,255,255, .5);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}
.blog-link:hover .bl-line-1,
.blog-link:hover .bl-line-2{
    opacity: 0;
    
    -webkit-transform: translateY(50px) scale(.5);
    -moz-transform: translateY(50px) scale(.5);
  -o-transform: translateY(50px) scale(.5) ;
  -ms-transform: translateY(50px) scale(.5);
    transform: translateY(50px) scale(.5);
}
.blog-link:hover .bl-line-1{
    -webkit-transition: all 0.37s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.37s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 037s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.37s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.37s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.blog-link:hover .bl-line-2{    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
#news + .small-section{
    margin-top: -140px;
}


/* ==============================
   Newsletter
   ============================== */

.newsletter-label{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(0,0,0, .2);
}
.form input.newsletter-field{
    height: 45px;
    line-height: 45px;
    margin-top: -2px;
    padding: 0;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0, .3);    
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000 !important;
}
.form input.newsletter-field:hover{
    color: #222;
    border-color: rgba(0,0,0, .75);
}
.form input.newsletter-field:focus{
    color: #000;
    border-color: rgba(0,0,0, 1);
    
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form input.newsletter-field::-webkit-input-placeholder{
    color: #000;
}
.form input.newsletter-field:focus::-webkit-input-placeholder{
    color: rgba(0,0,0, .15);
}

.form input.newsletter-field:-moz-placeholder{
    color: #000;
}
.form input.newsletter-field:focus:-moz-placeholder{
    color: rgba(0,0,0, .15);
}

.form input.newsletter-field::-moz-placeholder{
    color: #000;
}
.form input.newsletter-field:focus::-moz-placeholder{
    color: rgba(0,0,0, .15);
}

.form input.newsletter-field:-ms-input-placeholder{
    color: #000;
}
.form input.newsletter-field:focus:-ms-input-placeholder{
    color: rgba(0,0,0, .15);
}


/* ==============================
   Contact section
   ============================== */

.contact-item{
    padding-right: 67px !important;
    position: relative;
    color: rgba(255,255,255, .3);
    text-align: right;
    overflow: hidden;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.contact-item a{
    color: rgba(255,255,255, .3);
    text-decoration: none;    
}
.contact-item:hover,
.contact-item:hover a{
    color: rgba(255,255,255, .4);
}
.contact-item a:hover{
    color: rgba(255,255,255, .7);
    text-decoration: none;
}

.ci-icon{
    width: 45px;
    height: 40px;
    position: absolute;
    top: 4px;
    right: 7px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid rgba(255,255,255, .1);
}
.ci-title{
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.ci-phone{
    font-size: 24px;
    font-family: Montserrat, arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
}
.ci-text{
    color: rgba(255,255,255, .3);
}

/*
 * Contact form
 */

.cf-left-col{
    width: 48.5%;
    float: left;
    margin-right: 3%;
}
.cf-right-col{
    width: 48.5%;
    float: left;;
}
.contact-form .form-group{
    margin-bottom: 30px;
}
.contact-form input.ci-field, .contact-form select.ci-field{
    height: 44px;
    padding: 10px 0;
    font-size: 17px;
    font-weight: 400;
    text-transform: none;
    color: #fff;
    background: transparent !important;
    border: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
}
.contact-form input.ci-field:hover, contact-form select.ci-field:hover{
    border-color: rgba(255,255,255, .5);
}
.contact-form input.ci-field:focus, .contact-form select.ci-field:focus{
    color: #ddd;
    border-color: rgba(255,255,255, 1);
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.contact-form input.ci-field::-webkit-input-placeholder,
.contact-form input.ci-field:focus::-webkit-input-placeholder{
    color: rgba(255,255,255, .2);
}

.contact-form input.ci-field:-moz-placeholder{
    color: rgba(255,255,255, .5);
}
.contact-form input.ci-field:focus:-moz-placeholder{
    color: rgba(255,255,255, .2);
}

.contact-form input.ci-field::-moz-placeholder{
    color: rgba(255,255,255, .5);
}
.contact-form input.ci-field:focus::-moz-placeholder{
    color: rgba(255,255,255, .2);
}

.contact-form input.ci-field:-ms-input-placeholder{
    color: rgba(255,255,255, .5);
}
.contact-form input.ci-field:focus:-ms-input-placeholder{
    color: rgba(255,255,255, .2);
}

.contact-form label{
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: 400;
    text-transform: none !important;
    color: rgba(255,255,255, .5);
}
.contact-form .ci-btn{
    margin: -5px auto 0;
    color: #fff;
    background: #1791a4;    
}
.contact-form .ci-btn:hover{
    background: #fff;    
    color: #004f59;
}
.contact-form .ci-btn:focus{    
    outline:none;
}

.contact-form .error{
    margin-top: 20px;
    padding: 13px 20px;
    text-align: center;
    background: rgba(228,25,25, .75);
    color: #fff;
}
.contact-form .success{
    margin-top: 20px;
    padding: 13px 20px;
    text-align: center;
    background: rgba(50,178,95, .75);
    color: #fff;
}


/* ==============================
   Bottom menu
   ============================== */

.bot-menu{
    text-align: center;
    background: #0a6262;
    font-weight: 400;
    color: #474747;
    font-size: 0;
  word-spacing: 0;
}
.bot-menu-item,
.bot-menu-item:visited,
.bot-menu-item:focus{
    height: 60px;
    line-height: 54px;
    display: inline-block;
    padding: 0 20px;
    font-size: 18px;
    color: #12b3b3;
    white-space: normal;
    text-decoration: none;
    border-right: 1px solid #095959;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.bot-menu-item:first-child{
   border-left: 1px solid #095959; 
}

.bot-menu-item:hover,
.bot-menu-item.js-active{
    display: inline-block;
    color: #0a6262;
    background: #095959;
    text-decoration: none;
}
.bot-menu-icon{
    display: inline-block;
    font-size: 28px;
    position: relative;
    top: 4px;
}


/* ==============================
   Google maps 
   ============================== */

.google-map{
  background: #333;
}
#map-canvas{
    display: none;
  height: 550px;
  background-color: #333 !important;
}
.gm-style-cc{
  display: none !important;
}
.gm-style-iw div{
  color: #777;
}



/* ==============================
   Footer
   ============================== */

.footer{
    text-align: center;
    color: #707070;
    font-size: 12px;   
}
.footer a{
    color: #aaaaaa;
    text-decoration: none;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer a:hover{
    color: #ccc;
     text-decoration: none;
}
.footer-copy{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer-made{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-made .serif{
    font-size: 16px;
    font-weight: 400;
    color: #aaaaaa;
    text-transform: none;
}
.footer-social-links{
    margin-top: 20px;
    font-size: 14px;
}
.footer-social-links a{
    width: 36px;
    height: 36px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    color: #474747;
    border: 1px solid rgba(255,255,255, .07);
    
    -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.footer-social-links a:hover{
    border-color: rgba(255,255,255, .3);
}


/* ==============================
   Blog
   ============================== */

.blog-item{
  position: relative;
}

.blog-item-date{
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 0px;
  left: -130px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #222;
    border-right: 1px solid #eee;
  
}
.date-num{
  display: block;
  margin-bottom: 3px;
  font-family: Montserrat, arial, sans-serif;
  font-size: 18px;
    color: #111;
}
.blog-media{
    height: 250px;
  margin-bottom: 30px;
}
.blog-media a { width: 100%; }
.blog-media img,
.blog-media .video,
.blog-media iframe{
  
}
.blog-item-title{
  margin-top: 0;
  padding-top: 0;
  font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

}
.blog-item-title a{
  color: #000;
  text-decoration: none;
    line-height: normal;
}
.blog-item-title a:hover{
  color: #e41919;
  text-decoration: none;
}
.blog-item-data{
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 11px;
    letter-spacing: 1px;
  color: #aaa;
}
.separator{
  margin: 0 5px;
}
.blog-item-data a{
  color: #aaa;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-item-data a:hover{
  color: #000;
  text-decoration: none;
}
.blog-post-data{
    margin-top: 10px;
  text-transform: uppercase;
  font-size: 11px;
    letter-spacing: 1px;
  color: #aaa;
}
.blog-item-body{
    font-size: 16px;
  font-weight: 300;
  color: #5f5f5f;
  line-height: 1.8;
}
.blog-item-body h1,
.blog-item-body h2,
.blog-item-body h3,
.blog-item-body h4,
.blog-item-body h5,
.blog-item-body h6{
  margin: 1.3em 0 0.5em 0;
  color: #000;
}

.blog-item-more{
    border: 1px solid #eaeaea;
    padding: 5px 10px;
  font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  color: #777;
    letter-spacing: 1px;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-item-more:hover{
  text-decoration: none;
    border-color: #e41919;
}
a.blog-item-more{
  color: #777;
  text-decoration: none;
}
a.blog-item-more:hover{
  color: #e41919;
}

.blog-item-q{
  background: none;
  border: none;
  padding: 0;
    margin: 1em 0;
}
.blog-item-q p{
  position: relative;
  font-size: 20px;
    font-style: normal;
    letter-spacing: 0;
}
.blog-item-q p a{
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-item-q:hover a,
.blog-item-q p a:hover{
  text-decoration: none;
  color: #e41919;
}
.blog-item-q p:before,
.blog-item-q p:after{
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.blog-item-q p:before{
  content: '"';
  position: absolute;
  top: 0;
  left: -17px;
}
.blog-item-q p:after{
  content: '"';
}

.blog-item-q p:hover:before,
.blog-item-q p:hover:after{
  color: #e41919;
}
.blog-page-title{
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Pagination
 */

.pagination{
  font-size: 13px;
    font-family: Montserrat, arial, sans-serif;
}
.pagination a{
  display: inline-block;
  min-width: 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 7px 14px;
  border: 1px solid #eaeaea;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.pagination .fa{
  margin-top: 1px;
  font-size: 16px;
}
.pagination a:hover{
    text-decoration: none;
    border-color: #bbb;
  color: #444;
}
.pagination a.active,
.pagination a.active:hover{
  border-color: #bbb;
  color: #444;
  cursor: default;
}
.pagination a.no-active,
.pagination a.no-active:hover{
  border-color: #efefef;
  color: #bbb;
  cursor: default;
}



/*
 * Comments
 */
.comment-list{
  
}
.comment-item{
  padding-top: 30px;
  border-top: 1px dotted #e9e9e9;
    font-size: 14px;
}
.comment-item:first-child{
  padding-top: 0;
  border-top: none;
}
.comment-avatar{
  width: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.comment-item-data{
  margin: 0 0 5px;
  text-transform: uppercase;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #777;
}
.comment-item-data a{
  color: #777;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.comment-item-data a:hover{
  color: #000;
  text-decoration: none;
}
.comment-author{
    display: inline-block;
    margin-right: 20px;
  font-size: 11px;
    font-weight: 700; 
}
.comment-author a{
    color: #999;
}


/*
 * Sidebar
 */

.sidebar{
  margin-top: 10px;
}
.widget{
  margin-bottom: 60px;
}
.widget .img-left{
    margin: 0 10px 10px 0;
}
.widget .img-right{
    margin: 0 0 10px 10px;
}
.widget-title{
  margin-bottom: 20px;
    padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 13px;
    font-weight: 700;
    color: #444;
  letter-spacing: 1px;
    border-bottom: 1px solid #aaa;
}
.widget-body{
  font-size: 13px;
  color: #777;
}
.widget-text{
  line-height: 1.7;
}


/* Search widget */

.search-wrap{
  position: relative;
}
.search-field{
  width: 100% !important;
  height: 40px !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search-button{
  width: 42px;
  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  right: 1px; 
  overflow: hidden;
  background: transparent;
  border: none;
  outline: none;
  color: #777;
}

.search-button:hover{
  color: #212121;
}
.search-button:hover + .search-field{
  border-color: #ccc;
}


/* Widget menu */

.widget-menu{
  font-size: 13px;
}
.widget-menu li{
  padding: 5px 0;
  
}
.widget-menu li a{
  color: #555;
  text-decoration: none;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.widget-menu li a:hover,
.widget-menu li a.active{
  color: #e41919;
}
.widget-menu li small{
  font-size: 11px;
  color: #aaa; 
}


/* Widget tags */

.tags{
  
}
.tags a{
  display: inline-block;
  margin: 0 2px 5px 0;
  padding: 5px 7px;
  border: 1px solid #e9e9e9;
  color: #777;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.tags a:hover{
  text-decoration: none;
  border-color: #333;
  color: #000;
}

/* Comments */
.widget-comments{
  color: #aaa;
}
.widget-comments li{
  padding: 12px 0;
  border-bottom: 1px dotted #eaeaea;
}
.widget-comments li a{
  color: #444;
  text-decoration: none;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.widget-comments li a:hover{
  color: #e41919;
}


/* Posts */
.widget-posts{
  color: #aaa;
}
.widget-posts li{
    font-size: 12px;
  padding: 12px 0;
  border-bottom: 1px dotted #eaeaea;
}
.widget-posts li a{
    font-size: 13px;
    display: block;
  color: #444;
  text-decoration: none;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.widget-posts li a:hover{
  color: #e41919;
}


/* ==============================
   Pricing
   ============================== */

.pricing-item{
  margin: 0 0 30px;
  position: relative;
  text-align: center;
}
.pricing-item-inner{
  border: 1px solid #eaeaea;
  vertical-align: middle;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.pricing-item-inner:hover{
  border-color: #aaa;
}
.main .pricing-item-inner{
  border-color: #aaa;
}

.pricing-wrap{
  position: relative;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
  padding: 30px 20px;
  text-align: center;
  overflow: hidden;
}

.pricing-icon{
    padding-top: 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 32px;
  z-index: 1;
}
.pricing-title{
  position: relative;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}
.pr-list{
    margin: 0 -20px 30px;
    padding: 0;
  
    color: #777;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;  
    letter-spacing: 1px;
}
.pr-list li{
  padding: 12px 20px;
  list-style: none;
  border-bottom: 1px solid #f1f1f1;
}
.pr-list li:first-child{
  border-top: 1px solid #f1f1f1;
}
.pricing-num{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  
}
.pricing-num sup{
    font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -20px;
  left: -3px;
  margin-left: -7px;
}
.pr-button{
    margin: 30px -20px 0;
    padding-top: 30px;
    border-top: 1px solid #f1f1f1;
}
.pr-per{
    color: #999;
    font-size: 12px;
}



/* ==============================
   Shortcodes
   ============================== */

.margin-block{
  margin-bottom: 30px;
}


/*
 * Owl Carousel
 */

.owl-buttons{
  position: static;
}
.owl-prev,
.owl-next{
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 40px;
  height: 60px;
  line-height: 60px;
  font-size: 74px;
  text-align: center;
  color: rgba(0,0,0, .5);
    
    z-index: 6;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.owl-prev{
  left: 0;
}
.owl-next{
  right: 0;
}
.owl-prev:hover,
.owl-next:hover{
  color: rgba(0,0,0, .95);
  
  -webkit-transition: 0 none !important;  
    -moz-transition: 0 none !important;  
   -ms-transition: 0 none !important;
    -o-transition: 0 none !important;    
    transition:0 none !important;  
}
.owl-prev:active,
.owl-next:active{ 
  -webkit-transform: scale(0.94);
  -moz-transform: scale(0.94);
  -o-transform: scale(0.94);
  -ms-transform: scale(0.94);
  transform: scale(0.94);
}
.owl-carousel:hover .owl-prev{
  opacity: 1;
  left: 25px;
}
.owl-carousel:hover .owl-next{
  opacity: 1;
  right: 25px;
}
.owl-pagination{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 45px;
  left: 0;
  text-align: center;
    z-index: 100 !important;
}
.owl-page{
  display: inline-block;
  padding: 6px 4px;
}
.owl-page span{
  width: 24px;
  height: 3px;
  display: block;
  background: rgba(0,0,0, .2);
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.owl-page:hover span{
  background: rgba(0,0,0, .45);
}
.owl-page.active span{
  background: rgba(0,0,0, .65);
}

.item-carousel .owl-prev{
  left: -125px;
}
.item-carousel .owl-next{
  right: -125px;
}
section:hover .item-carousel.owl-carousel .owl-prev{
  opacity: 1;
  left: -80px;
}
section:hover .item-carousel.owl-carousel .owl-next{
  opacity: 1;
  right: -80px;
}
.item-carousel .owl-pagination{
  bottom: -95px;
}

.work-full-slider:hover .owl-prev,
.content-slider:hover .owl-prev{
  left: 10px;
}
.work-full-slider:hover .owl-next,
.content-slider:hover .owl-next{
  right: 10px;
}
.work-full-slider .owl-pagination,
.content-slider .owl-pagination{
  bottom: 15px;
}

.single-carousel,
.small-item-carousel{
    margin-bottom: 35px;
}
.single-carousel .owl-pagination,
.small-item-carousel .owl-pagination{
    position: relative;
    left: 0;
    top: 35px;
    margin: 0;
}
.single-carousel.black .owl-page span,
.small-item-carousel.black .owl-page span{
    background: rgba(0,0,0, .15);
    
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.single-carousel.black .owl-page:hover span,
.small-item-carousel.black .owl-page:hover span{
    background: rgba(0,0,0, .4);
}
.single-carousel.black .owl-page.active span,
.small-item-carousel.black .owl-page.active span{
  background: rgba(0,0,0, .4);
}

.single-carousel.black .owl-prev,
.single-carousel.black .owl-next,
.small-item-carousel.black .owl-prev,
.small-item-carousel.black .owl-next{
    color: rgba(0,0,0, .2);
    text-shadow: none;
    
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.single-carousel.black .owl-prev:hover,
.single-carousel.black .owl-next:hover,
.small-item-carousel.black .owl-prev:hover,
.small-item-carousel.black .owl-next:hover{
    color: rgba(0,0,0, .35);
}
.single-carousel .owl-prev,
.small-item-carousel .owl-prev{
  left: -125px;
}
.single-carousel .owl-next,
.small-item-carousel .owl-next{
  right: -125px;
}
section:hover .single-carousel .owl-prev,
section:hover .small-item-carousel .owl-prev{
  opacity: 1;
  left: -80px;
}
section:hover .single-carousel .owl-next,
section:hover .small-item-carousel .owl-next{
  opacity: 1;
  right: -80px;
}

.photo-slider-item{
  
}



/*
 * Tabs
 */

.tpl-tabs{
  border-color: #e5e5e5;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;  
}
.tpl-tabs > li > a{
    text-decoration: none;
    color: #777;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.tpl-tabs > li > a:hover{
  background-color: #f5f5f5;
}
.tpl-tabs li.active a{
  color: #000;
}
.tpl-tabs-cont{
  padding: 30px 0;
  color: #777;
    line-height: 1.8;
}

/*
 * Tabs minimal
 */

.tpl-minimal-tabs{
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;  
  border: none;
}
.tpl-minimal-tabs > li{
  padding: 0 30px;
  background: none !important;
}
.tpl-minimal-tabs > li > a{
  padding: 6px 20px 5px;
  text-decoration: none;
  color: #000;
  background: none;
  border: 1px solid transparent;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.tpl-minimal-tabs > li > a:hover{
  background: none;
  border-color: #e9e9e9;
  color: #777;
}
.tpl-minimal-tabs li.active a,
.tpl-minimal-tabs li.active a:hover{
  border: 1px solid #222 !important;
  background: none !important;
  color: #000;
  cursor: default;
}
.tpl-minimal-tabs-cont{
}


/*
 * Alert messages
 */

.alert{
  margin: 0 auto 10px;
  padding: 14px 20px; 
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
  border: 1px solid #ddd;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #777;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  
}
.success{
  border-color: #a9e2c2;
  color: #36a367;
}
.info{
  border-color: #9ecdfc;
  color: #297ad3;
}
.notice{
  border-color: #f9ce75;
  color: #e9a00a;
}
.error{
  border-color: #ffbbbb;
  color: #e33131;
}


/*
 * Accordion
 */

.accordion > dt{
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.accordion > dt > a{
  display: block;
  position: relative;
  color: #777;
  text-decoration: none;
  padding: 14px 20px;
  border: 1px solid #e5e5e5;
  
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.accordion > dt > a:hover{
  text-decoration: none;
  border-color: #ddd;
  background-color: #fcfcfc;  
  color: #444;
}
.accordion > dt > a.active{
  color: #000;
  border-color: #ddd;
  background-color: #fcfcfc;
  cursor: default;
}
.accordion > dt > a:after{
  content: "\e095";
  width: 15px;
  height: 15px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  right: 10px;
  font-family: 'Simple-Line-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.accordion > dt > a.active:after,
.accordion > dt > a.active:hover:after{
  content: "\e082";
  color: #e41919;
}
.accordion > dt > a:hover:after{
  color: #444;
}

.accordion > dd{
  margin-bottom: 10px;
  padding: 10px 20px 20px;
  font-size: 14px;
  line-height: 1.8;
  color: #777;
}


/*
 * Toggle
 */

.toggle > dt{
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.toggle > dt > a{
  display: block;
  position: relative;
  color: #777;
  text-decoration: none;
  padding: 14px 20px;
  border: 1px solid #e5e5e5;
  
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.toggle > dt > a:hover{
  text-decoration: none;
  border-color: #ddd;
  background-color: #fcfcfc;  
  color: #444;
}
.toggle > dt > a.active{
  color: #000;
  border-color: #ddd;
  background-color: #fcfcfc;
}
.toggle > dt > a:after{
  content: "\e095";
  width: 15px;
  height: 15px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  right: 10px;
  font-family: 'Simple-Line-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.toggle > dt > a.active:after,
.toggle > dt > a.active:hover:after{
  content: "\e082";
  color: #e41919;
}
.toggle > dt > a:hover:after{
  color: #444;
}
.toggle > dd{
  margin-bottom: 10px;
  padding: 10px 20px 20px;
  font-size: 14px;
  line-height: 1.8;
  color: #777;
}


/*
 * Progress bars
 */

.tpl-progress{
  margin-bottom: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: visible;
  height: 3px;
  background: #f0f0f0;
  
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tpl-progress .progress-bar{
  padding-top: 4px;;
  position: relative;
  overflow: visible;
  background-color: #222;
  font-size: 11px;
  color: #000;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tpl-progress .progress-bar > span{
  display: inline-block;  
  min-width: 24px;
  height: 24px;
  padding: 0 3px;
  position: absolute;
  top: -10px;
  right: -5px;
  background: #222;
  color: #fff;
  text-align: center;
  line-height: 23px;
  font-family: Raleway, arial, sans-serif;
  letter-spacing: 0;
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

}
.progress-color .progress-bar{
  background-color: #e41919;
  color: #e41919;
}
.progress-color .progress-bar > span{
  background-color: #e41919;
  color: #fff;
}

.highlight pre{
    border-color: #eaeaea;
    background: #fcfcfc;
    color: #555;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*
 * Font icons examples
 */

.fa-examples{
    color: #555;
    margin-left: 1px;
}
.fa-examples > div{
    padding: 0;
    border: 1px solid #e5e5e5;
    margin: -1px 0 0 -1px;
    font-size: 13px;
}
.fa-examples > div:hover{
    background: #f0f0f0;
    color: #000;
}
.fa-examples > div > i{
    display: inline-block;
    margin-right: 5px;
    min-width: 40px;
    min-height: 40px;
    border-right: 1px solid #f1f1f1;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
.fa-examples > div > .muted{
    margin-left: 5px;
    color: #999;
    font-size: 12px;
}


.sli-examples{
    color: #555;
    margin-left: 1px;
    vertical-align: middle;
}
.sli-examples .item{
    display: block;
    width: 33%;
    float: left;
    padding: 0;
    border: 1px solid #e5e5e5;
    margin: -1px 0 0 -1px;
    font-size: 13px;
}
@media only screen and (max-width: 1024px) {
    .sli-examples .item{
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    .sli-examples .item{
        width: 100%;
    }
}
.sli-examples .item:hover{
    background: #f0f0f0;
    color: #000;
}
.sli-examples .item > span{
    display: inline-block;
    margin-right: 5px;
    min-width: 70px;
    min-height: 70px;
    border-right: 1px solid #f1f1f1;
    line-height:70px;
    text-align: center;
    font-size: 32px;
}

/*
 *  Intro page
 */

.intro-image{
    width:100%;
}
.intro-label{
    position: absolute;
    top:0;
    right:10%;
    font-size: 17px;
}


/* ==============================
   Bootstrap multicolumn grid
   ============================== */

/* clear the first in row for any block that has the class "multi-columns-row" */
.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: left; }
.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: left; }
.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: left; }
.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: left; }
.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: left; }

@media (min-width: 768px) {
  /* reset previous grid */
  .multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: none; }
  .multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: none; }
  .multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: none; }
  .multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: none; }
  .multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: none; }

  /* clear first in row for small columns */
  .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: left; }
  .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: left; }
  .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: left; }
  .multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: left; }
  .multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 992px) {
  /* reset previous grid */
  .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: none; }
  .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: none; }
  .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: none; }
  .multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: none; }
  .multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: none; }

  /* clear first in row for medium columns */
  .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: left; }
  .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: left; }
  .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: left; }
  .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: left; }
  .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 1200px) {
  /* reset previous grid */
  .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: none; }
  .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: none; }
  .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: none; }
  .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: none; }
  .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: none; }

  /* clear first in row for large columns */
  .multi-columns-row .col-lg-6:nth-child(2n + 3) { clear: left; }
  .multi-columns-row .col-lg-4:nth-child(3n + 4) { clear: left; }
  .multi-columns-row .col-lg-3:nth-child(4n + 5) { clear: left; }
  .multi-columns-row .col-lg-2:nth-child(6n + 7) { clear: left; }
  .multi-columns-row .col-lg-1:nth-child(12n + 13) { clear: left; }
}

.logo { position: absolute; top: 20px; margin: auto; left: 0; right: 0; }

#about .content { width: 90%; max-width: 800px; margin: auto; text-align: center; padding-bottom: 50px; }
.cta h1 { text-align: center; color: #fff; font-weight: 300; font-size: 40px; }
.cta .local-scroll { text-align: center; margin-top: 40px; }
.cta .local-scroll a { min-width: 300px; }

#news .blog-item .blog-item-title p { color: #000; }

.contact { width: 90%; max-width: 800px; margin: 30px auto 0; text-align: center; }
.testi { text-align: center; }
.testi img { max-width: 80px; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; margin-bottom: 20px; }


/* ==============================
   Survey
   ============================== */

.survey { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.survey .s-left { width: 50%; float: left; height: 100%; background: #1791a4; color: #fff; display:table; }
.survey .s-left .center { display: table-cell; vertical-align: middle; }
.survey .s-left .center .question { margin: auto; width: 90%; max-width: 500px; }
.survey .s-right { width: 50%; float: right; height: 100%; background: #eee; }

/* ==============================
   Sections styles
   ============================== */

/*
 * Common
 */

.page-section,
.small-section{
  width: 100%;
  display: block; 
  position: relative;
    overflow: hidden;
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
  padding: 140px 0;
}
.small-section{
  padding: 70px 0;
}
.small-title{
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #222;
    font-size: 24px;
}
.section-icon{
    text-align: center;
    font-size: 32px;
}
.small-title .serif{
    text-transform: none;
    font-weight: 400;
}
.small-title.white{
    color: #fff;
}
.bg-scroll{
  background-attachment: scroll !important;
}
.bg-pattern{
  background-repeat: repeat;
  background-size: auto;
}
.bg-pattern-over:before,
.bg-pattern-over .YTPOverlay:after{
    content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
    background-repeat: repeat;
  background-size: auto;
  background-image: url(../images/pattern-bg-2.png);
}
.bg-gray{
  background-color: #f4f4f4;
}
.bg-gray-lighter{
  background-color: #f8f8f8;
}
.bg-dark,
.bg-dark-lighter,
.bg-dark-alfa-30,
.bg-dark-alfa-50,
.bg-dark-alfa-70,
.bg-dark-alfa-90,
.bg-dark-alfa,
.bg-color,
.bg-color-lighter,
.bg-color-alfa-30,
.bg-color-alfa-50,
.bg-color-alfa-70,
.bg-color-alfa-90,
.bg-color-alfa{
  color: #fff;
}
.bg-dark a,
.bg-dark-lighter a,
.bg-dark-alfa-30 a,
.bg-dark-alfa-50 a,
.bg-dark-alfa-70 a,
.bg-dark-alfa-90 a,
.bg-dark-alfa a,
.bg-color a,
.bg-colorlighter a,
.bg-color-alfa-30 a,
.bg-color-alfa-50 a,
.bg-color-alfa-70 a,
.bg-color-alfa-90 a,
.bg-color-alfa a{
  color: rgba(255,255,255, .8);
    padding-bottom: 3px;
    
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.bg-dark a:hover,
.bg-dark-lighter a:hover,
.bg-dark-alfa-30 a:hover,
.bg-dark-alfa-50 a:hover,
.bg-dark-alfa-70 a:hover,
.bg-dark-alfa-90 a:hover,
.bg-dark-alfa a:hover,
.bg-color a:hover,
.bg-color-lighter a:hover,
.bg-color-alfa-30 a:hover,
.bg-color-alfa-50 a:hover,
.bg-color-alfa-70 a:hover,
.bg-color-alfa-90 a:hover,
.bg-color-alfa a:hover{
  color: rgba(255,255,255, 1);
    text-decoration: none;
}

.bg-color .text,
.bg-color-lighter .text,
.bg-color-alfa-30 .text,
.bg-color-alfa-50 .text,
.bg-color-alfa-70 .text,
.bg-color-alfa-90 .text,
.bg-color-alfa .text,
.bg-color .section-text,
.bg-color-lighter .section-text,
.bg-color-alfa-30 .section-text,
.bg-color-alfa-50 .section-text,
.bg-color-alfa-70 .section-text,
.bg-color-alfa-90 .section-text,
.bg-color-alfa .section-text{
  color: rgba(255,255,255, .75);
}

.bg-color .white,
.bg-color-lighter .whitet,
.bg-color-alfa-30 .white,
.bg-color-alfa-50 .white,
.bg-color-alfa-70 .white,
.bg-color-alfa-90 .white,
.bg-color-alfa .white{
  color: #fff;
}


.bg-dark{
  background-color: #222;
}
.bg-dark-lighter{
  background-color: #252525;
}
.bg-dark-alfa:before,
.bg-dark-alfa .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(17,17,17, .97);
}
.bg-dark-alfa-30:before,
.bg-dark-alfa-30 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(34,34,34, .3);
}
.bg-dark-alfa-50:before,
.bg-dark-alfa-50 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(34,34,34, .5);
}
.bg-dark-alfa-70:before,
.bg-dark-alfa-70 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(17,17,17, .7);
}
.bg-dark-alfa-90:before,
.bg-dark-alfa-90 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(17,17,17, .9);
}
.bg-light-alfa:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(250,250,250, .97);
}
.bg-light-alfa-30:before,
.bg-light-alfa-30 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(252,252,252, .30);
}
.bg-light-alfa-50:before,
.bg-light-alfa-50 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(252,252,252, .50);
}
.bg-light-alfa-70:before,
.bg-light-alfa-70 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(252,252,252, .7);
}
.bg-light-alfa-90:before,
.bg-light-alfa-90 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(252,252,252, .9);
}
.bg-color{
    background-color: #e41919;
}
.bg-colort-alfa:before,
.bg-colort-alfa .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #e41919;
    opacity: .97;
}
.bg-color-alfa-30:before,
.bg-color-alfa-30 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #e41919;
    opacity: .3;
}
.bg-color-alfa-50:before,
.bg-color-alfa-50 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #e41919;
    opacity: .5;
}
.bg-color-alfa-70:before,
.bg-color-alfa-70 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #e41919;
    opacity: .7;
}
.bg-color-alfa-90:before,
.bg-color-alfa-90 .YTPOverlay:before{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #e41919;
    opacity: .9;
}

.bg-orange{ background-color: #f47631 !important; }
.bg-yellow{  background-color: #1791a4 !important; }
.bg-cyan{ background-color: #27c5c3 !important; }
.bg-green{ background-color: #58bf44 !important; }
.bg-blue{ background-color: #43a5de !important; }
.bg-purple{ background-color: #375acc !important; }
.bg-red{ background-color: #e13939 !important; }

.section-title{
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  line-height: 1.3; 
}
.st-point{
  margin-right: -5px;
  color: #e41919;
  font-family: Montserrat, arial, sans-serif;
  font-weight: 400;
}
.section-heading{
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  line-height: 1.3;
  color: #555;
}
.tab-pane .section-heading{
  font-style: normal;
  line-height: 25px;
}
.section-line{
  width: 55px;
  height: 1px;
  margin: 30px auto;
  background: #e41919;
}
.section-text, #about .content p{
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: #888;
  line-height: 1.8;
}
.section-bot-image{
  margin: 140px 0 -140px;
  text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); 
}

.home-bot-image{
  width: 100%;
    position: absolute;
    bottom:0;
    left: 0;
  text-align: center;
}

.fixed-height-large,
.fixed-height-medium,
.fixed-height-small{
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fixed-height-large{
    min-height: 800px;
}
.fixed-height-medium{
    min-height: 700px;
}
.fixed-height-small{
    min-height: 600px;
}


/*
 * Split section
 */

.split-section{
  width: 100%;
  display: block; 
  position: relative;
    overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.split-section-headings{  
  width: 38.2%;
  float: left;
  position: relative;
  overflow: hidden;
  text-align: center;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ssh-table{
  width: 100%;
  display: table;
}
.ssh-cell{
  display: table-cell;  
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.split-section-content{
  width: 61.8%;
  float: right;
  min-height: 300px;
  position: relative;
    overflow: hidden;
  background: rgba(255,255,255, .97);
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact-form input.ci-field, .contact-form select.ci-field {
  height: 44px;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  color: #fff;
  border-radius:0px;
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid rgba(255,255,255, .3) !important;
}
div.work-img {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}